@using OnlineDocumentStore.Application.DataTransferObjects.Auth
@model RegisterDTO

<form class="container-form">
    <div class="mb-3">
        <label asp-for="FullName" class="form-label">FullName</label>
        <input asp-for="FullName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">PhoneNumber</label>
        <input asp-for="PhoneNumber" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button asp-controller="Auth" asp-action="Register" formmethod="post" type="submit" class="btn btn-primary">Register</button>
</form>

<style>
    .container-form {
        width: 50%;
        margin: 0 auto;
    }
</style>